.btn {
  transition: background var(--transition), color var(--transition), transform var(--transition), box-shadow var(--transition);
}
.btn:active {
  transform: translateY(2px) scale(0.98);
  box-shadow: 0 1px 4px 0 rgba(44, 89, 173, 0.17);
}